<div class="example-container">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/post-add']"><mat-icon>add</mat-icon></a>
  </div>
  <div class="center">
    <mat-card class="card" *ngFor="let post of data">
      <div [routerLink]="['/post-details/', post._id]">
        <mat-card-header>
          <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{post.content.substr(0, 50)}}...
        </mat-card-content>
        <mat-card-subtitle>{{!!post.user ? post.user.name : ''}}</mat-card-subtitle>
        <mat-card-subtitle>{{post.createdAt | date}}</mat-card-subtitle>
      </div>
      <mat-card-actions class="buttonList">
        <button mat-button><mat-icon>mode_edit</mat-icon></button>
        <button mat-button><mat-icon>delete</mat-icon></button>
        <button mat-button><mat-icon>comment</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>